    @font-face {
    font-family: 'Futurama Alien Alphabet One';
    font-style: normal;
    font-weight: normal;
    src: local('Futurama Alien Alphabet One'), url('fr-fal1.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futurama Alien Alphabet Two';
    font-style: normal;
    font-weight: normal;
    src: local('Futurama Alien Alphabet Two'), url('fr-fal2.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futurama Title Font';
    font-style: normal;
    font-weight: normal;
    src: local('Futurama Title Font'), url('fr-title.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futurama Bold Font';
    font-style: normal;
    font-weight: normal;
    src: local('Futurama Bold Font'), url('fr-bold.woff') format('woff');
    }

    h1 {
        font-family: 'Futurama Bold Font';
        font-weight: 200;
        color:#84D7E1FF;
    }

    h5 {
        font-family: 'Futurama Alien Alphabet One';
        font-weight: normal;
        color: #ADE2D0FF;
    } 

    h6 {
        font-weight: normal;
    }

    p {
        font-family: 'Futurama Alien Alphabet One';
        color: #3D3B25FF;;
    }

    span {
        color: #FF6348FF;
    }

    li {
        display: list-item;
        font-size: 1rem;

    }

    #titleMargin {
        margin-bottom: 0px;
    }

    #alienTitleMargin {
        color: #84D7E1FF;
        margin-top: 0px;
        margin-bottom: 0px;
    }


    